<h2 class="text-title tm0 bm24">{{ 'EMPTY' | translate }} Composite Control</h2>
<div>
    <md-button class="lm0" ng-click="onDisableClick()" aria-label="ENABLE">
        <span ng-if="emptyChecklistDisabled">Enable</span>
        <span ng-if="!emptyChecklistDisabled">Disable</span>
    </md-button>
    <md-button ng-click="onReset()">
        <span>Reset</span>
    </md-button>
</div>
<pip-composite-toolbar pip-composite-empty="emptyComposite.length == 0"
                       ng-disabled="isDisabled()"
                       pip-composite-id="1">
</pip-composite-toolbar>

<div class="tm24"></div>

<pip-composite-edit pip-contents="emptyComposite"
                    ng-disabled="isDisabled()"
                    pip-scroll-container=".composite-scroll"
                    pip-rebind="emptyChecklistRebind"
                    pip-composite-placeholder="'DESCRIBE_THIS'"
                    pip-changed="onChange()"
                    pip-composite-id="1">
</pip-composite-edit>

<p class="text-body1 tm16 bm16" pip-composite-focused>
    <strong>{{ 'CONTENT' | translate }}:</strong> {{ emptyComposite }}
</p>

<h3 class="text-subhead2">{{:: 'CODE' | translate}}</h3>
<pre class="text-body1 color-window-bg p16">
            &lt;<strong>pip-composite-toolbar</strong> pip-composite-empty="emptyComposite.length == 0"
                                   <strong>ng-disabled="isDisabled()"</strong>
                                   <strong>pip-composite-id="1"</strong>&gt;
            &lt;/<strong>pip-composite-toolbar</strong>&gt;

            &lt;div class="tm24"&gt;&lt;/div&gt;

            &lt;<strong>pip-composite-edit</strong> pip-contents="emptyComposite"
                                <strong>ng-disabled="isDisabled()"</strong>
                                pip-scroll-container=".composite-scroll"
                                <strong>pip-rebind="true"</strong>
                                pip-composite-placeholder="{{'DESCRIBE_THIS' | translate}}"
                                pip-changed="onChange()"
                                <strong>pip-composite-id="1"</strong>&gt;
            &lt;/<strong>pip-composite-edit</strong>&gt;
</pre>